* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./2\ bg.png);
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-color: gray;

}

.wrap {
    width: 100%;
    height: 10vh;
    background-color: aqua;
}

.wrap nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
}

.wrap .cap {
    background-color: white;
    margin: auto;
    display: inline-block;
    border-radius: 20px;
}


.wrap nav ul li {
    text-decoration: none;
    display: flex;
    list-style: none;
    padding: 15px;
    display: inline-block;
    justify-content: space-between;




}

.hey h1 {
    color: white;
    display: inline-block;
    margin-top: 250px;
    margin-left: 500px;
}

.build {
    color: white;
    height: 105px;
    display: inline-block;
    margin-top: 150px;
    margin-left: 500px;
}

.build .icon {
    display: flex;
    padding: 55px;
}

footer{
    
    color: white;
    display: inline-block;
    display: flex;
    padding: 30px;
    font-size: bold;
}
footer .des{
    
margin-left: 250;
}
footer .foot{
    
    margin-left: 750px;
}